.vbottomUp{
    position: relative;
    top: 65%;
    transform: translateY(-65%);
}
.vbottomDirection{
    position: relative;
    top: 70%;
    transform: translateY(-70%);
}
.vbottomDown{
    position: relative;
    top: 75%;
    transform: translateY(-75%);
}
.glyphicon {
    font-size: 48px;
}
canvas {
    border-radius: 16px;
}


#replay{

}
